{% load static %}

{% block body %}

{% include "navigation2.html" %}
<marquee behavior="" direction=""style="font-size:25px;color:grey;background-color:black; font-weight:bold; margin-top:1px">
Applied Candidates
</marquee>
<style>
    tr{
        text-align:center
    }
</style>
<table id="example" class="table table-hover container"> 
    <thead>
        <tr style="background-color:lightgreen">
        <th>Sno.</th>
        <th>Student Name</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Job Title</th>
        <th>Resume</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for i,j in mylist %}
    <tr style="background-color:skyblue">
        <td>{{forloop.counter}}</td>
        <td>{{i.studentuser.first_name}}{{i.studentuser.last_name}}</td>
        <td>{{i.studentuser.gender}}</td>
        <td>{{i.studentuser.mobile}}</td>
        <td>{{i.studentuser.email}}</td>
        <td>{{j.title}}</td>
        <td><a href="{{i.studentuser.upload_resume.url}} " download>{{i.studentuser.upload_resume}}</a></td>
        <td><a href="#" class="btn btn-success btn-sm" >Contact</a>|
        <a href="{% url 'delete_candidate' i.id %}" class="btn btn-danger btn-sm" >Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock body %}